{% extends "backend.html" %}

{% block active_attend %}class="is-active"{% endblock %}

{% block main %}
<h1 class="title">Attend</h2>
<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Showing #</th>
			<th>Showing DateTime</th>
			<th>Movie #</th>
			<th>Movie</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
		<tr>
			<td>{{row.0}}</td>
			<td>{{row.1}}</td>
			<td>{{row.2}}</td>
			<td>{{row.3}}</td>
			<td>{{row.4}}</td>
			<td>{{row.5}}</td>
			<td>{{row.6}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
