{% extends 'layout.html' %}



 {% block body %}

   <div class="jumbotron text-center">
   <h1>Project 101</h1>
   <p class="lead">Matrimonial database system is a sophisticated system that entails and redefines the process of choosing <b>your</b> life partner for <b>you</b>.</p>

<br><br>
   
</div>

<div class="jumbotron class-center">
  <p align="center"> Created by </p>
<div class="card">
  <img src="https://image.ibb.co/fu9VQw/img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>T. Venu Madhav</b></h4> 
    <p>Crunchy</p> 
    <p>#</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
  </div>
</div>

 <div class="card1">
  <img src="https://image.ibb.co/fu9VQw/img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>SP</b></h4> 
    <p>President of Everything</p> 
    <p>#</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
  </div>
</div>
</div>


<style type="text/css">
	.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

	.aboutext{


		font-size: 15;
	}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    float: right;
}

 .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}





.container {
    padding: 2px 16px;
}

	
	.jumbotron{

		opacity: 0.7;
	}

	body {
    background: url("https://preview.ibb.co/cT8oAb/priscilla_du_preez_149915.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

</style>
 {% endblock %}
