<html>
	<head>
		<title> yo </title>

	</head>

	<body>


		<h1>Image Input</h1>
	<form method = "POST" action = "/upload" enctype = "multipart/form-data">
	<div class="form-group">
		<label for="inputFile">Image input</label>
		<input type="file" name="inputFile">
	</div>
	<button type= "submit" class="btn btn-success">Submit</button>
</form>
</div>
<form method = "POST" action = "/view_upload" enctype = "multipart/form-data">
<button type= "submit"  class="btn btn-success">View Image</button>
</form>

	</body>

	</html>