{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron">
<h1 align="center">Login</h1>
<form  method='POST' >
 <div class='form-group'>
   <label>Username</label>
   <input type='text' name='username' class='form-control' value={{request.form.username}}>
 </div>	
 <div class='form-group'>
   <label>Password</label>
   <input type='password' name='password' class='form-control' value={{request.form.password}}>
 </div>	
 <p><input type="submit" class = "btn btn-primary" value="Submit"></p>
</form>
</div>



<style type="text/css">
	

	.hometext{
            font-size: 75;
      		color: Green;
	   
	}
	.jumbotron{

		opacity: 0.7;
	}

	body {
    background: url("https://preview.ibb.co/bPaKiw/aaron_burden_304587.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

</style>
{% endblock %}