{% extends "backend.html" %}

{% block active_users %}class="is-active"{% endblock %}

{% block main %}

<h1>List of Users</h1>
<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>E-Mail</th>
		<th>Username</th>
		<th>Password</th>
		<th>Registered-Date</th>
		<th></th>
		<th></th>
	</tr>

	{% for users in users %}
    <tr>
    	<td>{{users.id}}</td>
    	<td>{{users.name}}</td>
    	<td>{{users.email}}</td>
    	<td>{{users.username}}</td>
    	<td>{{users.password}}</td>
    	<td>{{users.register_data}}</td>
    	<td></td>
    	<td></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
